<p>Soy un componente de la app "app/contador.componente"</p>
<p>
  Recivo estilos desde "contador.component.component" y mi color es Azul fuerte
</p>
<p class="nom">Mi nombre es: {{ nombre }} de color purpura</p>
<p class="edad">Mi edad es: {{ edad }} de color rosa</p>

<p>El nombre de mi mama es: {{ persona.nombre }}</p>
<p>La edad de mi mama es: {{ persona.edad }}</p>

<!-- Video 06 -->
<p class="incrOdecre">Yo me incremento o me decremento soy de color negro</p>
<button (click)="decrementar()">-</button>
<span class="contador"> {{ numero }} </span>
<button (click)="incrementar()">+</button>
